<!DOCTYPE html>
<html>
<head>
  <title>RailsFromSinatra</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="text-center">Awesome Rails Blog</h1>
        <div class="jumbotron">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
